<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h4>Test</h4>
        <p>
            <strong>
                Odgovorite na pitanja ispod i pritisnite dugme oceni.
            </strong>
        </p>
        <br>
        <div class="row center">

            {% for i, q in questions %}
            <div class="input-field">
                <p class="small left-align" id="q{{ i + 1 }}">
                    {{q[0]}}
                </p>
                <input id="i{{ i + 1 }}" type="text">
                <strong><span id="g{{ i + 1 }}" class="green-text" style="display: none;"></span></strong>
            </div>
            {% endfor %}

            <a id="send-message" onclick="send()" class="btn-large waves-effect waves-light light-green">Oceni</a>
        </div>
    </div>
</div>

{% include 'scripts.html' %}

<script src="js/app-test.js"></script>

{% include 'footer.html' %}

